html{
--bg-color: gray;
  --text-color: black;
  --box-color: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
    background-color:var(--bg-color);
    color: var(--text-color);
  font-family: Arial, sans-serif;
}
.dark-mode {
  --bg-color: #121212;
  --text-color: white;
  --box-color: #1e1e1e;
}

.container{
     width: 500px;
  margin: 0 auto;
   
}

h1{
color:black(0, 0, 0, 0.219);

animation: fadeIn 4s ease-in;
text-align:center;
font-size: 32px;

}
h2{
    
animation: fadeIn 4s ease-in;
text-align:center;
margin-top: -20px;
font-size: 20px;

}

.summary {
    display:flex;
   
    flex-direction: column;
    align-items: center;
    
/*     
    margin: -150px auto 0 auto; */

    h3{
        font-size: 20px;
    }
    p{
        margin-top:-20px;
        font-size:18px;
    }
    }



.education{
    display:flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: 20px;
    }
    p{ margin-top:-20px;
        font-size:18px;
    }

}

.experience{
    display:flex;
    flex-direction: column;
    align-items: center;
    
 h3{
        font-size: 20px;
    }
    p{
        margin-top:-20px;
        font-size:18px;
    }
}
.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    p{
        margin-top:-40px;
        font-size:18px;
    }
     h3{
        font-size: 20px;
    }
    
}


.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: 20px;
    }
    p{
        margin-top:-40px;
        font-size:18px;
    }
}


